body {
  background-color: #F6F3F0;
}

h1 {
  font-size: 80px;
  color: rgb(51, 57, 66);
  font-family: bodoni-moda, "bodoni moda", serif;
}

/* Adjust font size for tablets */
@media (max-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

/* Adjust font size for mobile devices */
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

.foodception-card-container {
  width: 100%; /* Default for small screens */
  margin-bottom: 20px;
}

@media (min-width: 768px) { /* Medium screens and up */
  .foodception-card-container {
    width: 300px;
  }
}

@media (min-width: 992px) { /* Large screens and up */
  .foodception-card-container {
    width: 400px;
  }
}
